{% if books %}
    <br>
    <ul>
        {% for book in books %}
            <div class="well">
                <li>
                    <a href="/patron/{{ patron.getId }}/book/{{ book.getId }}">{{ book.getTitle }} by
                        {% for author in book.getAuthors %}
                            {{ author.getName }}
                        {% endfor%}
                    </a>
                </li>
            </div>
        {% endfor %}
    </ul>
{% endif %}
