<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/librarian-navbar.html.twig' %}
    <div class="container">
      {% include '/includes/message.html.twig'%}
      {% include '/includes/form.html.twig' %}
      {% include '/includes/add-book-form.html.twig'%}
      {% include '/includes/book-list.html.twig'%}
    </div>
  </body>
</html>
