<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/patron-navbar.html.twig' %}
    <div class="container">
      {% include '/includes/message.html.twig' %}
      <h2>Welcome to your account, {{ patron.getName }}!</h2>
      <h3>Here are the books you have checked out:</h3>
      <!-- <ul>
          {% for checkout in checkouts %}
              <li>DISPLAY CHECKED OUT BOOKS HERE</li>
              <form action="/patron/{{ patron.getId }}/checkouts/{{ book.getId }}/return" method="post">
              <button type='submit' class='btn btn-danger'>Return this book!</button>
          </form>
          {% endfor %}
      </ul> -->
    </div>
  </body>
</html>
