<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/patron-navbar.html.twig' %}
    <div class="container">
      {% include '/includes/message.html.twig'%}
      {% include '/includes/patron-book-list.html.twig'%}
    </div>
  </body>
</html>
